<%- include('partials/header'); %>
<div class="container mt-2">
    <div class="row mt-4">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row" style="justify-content: center">
                <div class="col-md-5">
                    <div class="card">
                        <div class="card card-body text-center">
                            
                            <iconify-icon
                                icon="material-symbols:add-chart"
                                width="200"
                                style="margin: auto"
                            ></iconify-icon>

                            <div class="card-body" style="height: 100px">
                                <h4 class="text-center">Add physiological data</h4>
                                <!-- <p class="card-text">
                                    DataCustodian will not know the user corresponding to the device.
                                </p> -->
                            </div>
                            
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-toggle="modal"
                                data-target="#deviceModal"
                                style="margin-top: 10px"
                            >
                                Binding
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div
    class="modal fade"
    id="deviceModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Add 
                </h5>
            </div>
            <div class="modal-body">
                <form action="/appChain/DataCustodian/addData" method="post">
                    <div class="input-group mt-3">
                        <div class="input-group-prepend">
                            <span id="" class="input-group-text"
                                >public key</span
                            >
                        </div>
                        <input
                            id="pubkey"
                            type="text"
                            name="pubkey"
                            readonly="readonly"
                            placeholder=""
                            required="required"
                            class="form-control"
                        />
                    </div>
                    <div class="input-group mt-3">
                        <div class="input-group-prepend">
                            <span id="" class="input-group-text"
                                >Ethereum address</span
                            >
                        </div>
                        <input
                            id="address"
                            type="text"
                            name="address"
                            placeholder=""
                            required="required"
                            class="form-control"
                            readonly="readonly"
                        />
                    </div>
                    <div class="input-group mt-3">
                        <div class="input-group-prepend">
                            <span id="" class="input-group-text"
                                >deviceID</span
                            >
                        </div>
                        <input
                            id="deviceID"
                            type="text"
                            name="deviceID"
                            placeholder=""
                            required="required"
                            readonly="readonly"
                            class="form-control"
                        />
                    </div>
                    <div class="input-group mt-3">
                        <div class="input-group-prepend">
                            <span id="" class="input-group-text"
                                >data type</span
                            >
                        </div>
                        <select class="form-select form-control" name="type">
                            <option value="" disabled selected >Select data type</option>
                            <option value="Heartrates" >Heart rates</optin>
                            <option value="Bloodpressure" >Blood pressure</option>
                            <option value="Stepstaken" >Steps taken</option>
                            <option value="Bodytemperature">Body temperature</option>
                        </select>
                    </div>
                    <div class="input-group mt-3">
                        <div class="input-group-prepend">
                            <span id="" class="input-group-text"
                                >start Date</span
                            >
                        </div>
                        <input
                            type="text"
                            name="startDate"
                            placeholder=""
                            required="required"
                            class="form-control"
                        />
                    </div>
                    <div class="input-group mt-3">
                        <div class="input-group-prepend">
                            <span id="" class="input-group-text"
                                >end Date</span
                            >
                        </div>
                        <input
                            type="text"
                            name="endDate"
                            placeholder=""
                            required="required"
                            class="form-control"
                        />
                    </div>
                    <div class="input-group mt-3">
                        <div class="input-group-prepend">
                            <span id="" class="input-group-text"
                                >frequency</span
                            >
                        </div>
                        <input
                            type="text"
                            name="frequency"
                            placeholder=""
                            required="required"
                            class="form-control"
                        />
                    </div>
                    <div class="modal-footer">
                        <input
                            type="submit"
                            value="ADD"
                            class="btn btn-secondary"
                        />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var pubkey = "<%= pubkey  %>";
    var deviceID = "<%= deviceID  %>";
    async function main() {
        let accounts = await web3.eth.getAccounts();
        account = accounts[0];
        // set modal content ...
        //console.log(account);
        $("#address").val(account);
        $("#pubkey").val(pubkey);
        $("#deviceID").val(deviceID);
        // buildListener();
    }
    main();
</script>
<%- include('partials/footer'); %>
