<%- include('partials/header'); %>
<!-- deviceList.ejs -->
<div class="container mt-2">
    <div class="row">
        <div class="col-md-8 center-block offset-md-2">
            <div class="card text-center">profile</div>
        </div>
    </div>
</div>
<%- include('partials/footer'); %>
