<%- include('partials/header') -%>
<body>
    <div class="container mt-2">
        <div class="row mt-4">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="row" style="justify-content: center">
                    <div class="col-md-5">
                        <div class="card">
                            <div class="card card-body text-center">
                                <iconify-icon
                                    icon="mdi:people-add"
                                    width="200"
                                    style="margin: auto"
                                ></iconify-icon>

                                <div class="card-body" style="height: 100px">
                                    <h4 class="text-center">About You</h4>
                                    <p class="card-text">
                                        Please enter some of your basic
                                        information for subsequent data
                                        matching.
                                    </p>
                                </div>

                                <button
                                    type="button"
                                    class="btn btn-primary"
                                    data-toggle="modal"
                                    data-target="#AboutMeModal"
                                    style="margin-top: 10px"
                                >
                                    About Me
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <div
        class="modal fade"
        id="AboutMeModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ABOUT ME</h5>
                </div>
                <div class="modal-body">
                    <form
                        action="/appChain/DataBroker/aboutme"
                        method="post"
                    >
                        <div class="input-group mt-3">
                            <div class="input-group-prepend">
                                <span id="" class="input-group-text"
                                    >public key</span
                                >
                            </div>
                            <input
                                id="pubkey"
                                type="text"
                                name="pubkey"
                                placeholder=""
                                required="required"
                                class="form-control"
                            />
                        </div>
                        <div class="input-group mt-3">
                            <div class="input-group-prepend">
                                <span id="" class="input-group-text"
                                    >Gender</span
                                >
                            </div>
                            <select class="form-select form-control" name="gender">
                                <option value="" disabled selected >Select gender</option>
                                <option value="man" >Man</optin>
                                <option value="woman" >Woman</optin>
                            </select>
                        </div>
                        <div class="input-group mt-3">
                            <div class="input-group-prepend">
                                <span id="" class="input-group-text">Age</span>
                            </div>
                            <input
                                type="text"
                                name="age"
                                placeholder=""
                                required="required"
                                class="form-control"
                                style="background-color: white"
                            />
                        </div>

                        <div class="input-group mt-3">
                            <div class="input-group-prepend">
                                <span id="" class="input-group-text"
                                    >Height</span
                                >
                            </div>
                            <input
                                type="text"
                                name="height"
                                placeholder=""
                                required="required"
                                class="form-control"
                            />
                        </div>
                        <div class="input-group mt-3">
                            <div class="input-group-prepend">
                                <span id="" class="input-group-text"
                                    >Weight</span
                                >
                            </div>
                            <input
                                type="text"
                                name="weight"
                                placeholder=""
                                required="required"
                                class="form-control"
                            />
                        </div>
                        <div class="modal-footer">
                            <input
                                type="submit"
                                value="Send"
                                class="btn btn-success"
                            />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var pubkey = '<%= pubkey  %>';
    async function main() {
        let accounts = await web3.eth.getAccounts();
        account = accounts[0];
        // set modal content ...
        //console.log(account);
        $('#pubkey').val(pubkey);
        // buildListener();
    }
    main();
</script>

<%- include('partials/footer') -%>
