<%- include('partials/header') -%>
<div class="container mt-2">
    <div class="row mt-4">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row" style="justify-content: center">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card card-body text-center">
                            <iconify-icon
                                icon="icon-park-outline:hold-interface"
                                width="200"
                                style="margin: auto"
                            ></iconify-icon>
                            <div class="card-body" style="height: 80px">
                                <h4 class="text-center">Data Provider</h4>
                            </div>
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-toggle="modal"
                                data-target="#ProviderModal"
                                style="margin-top: 10px"
                            >
                                Who are you?
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card card-body text-center">
                            <iconify-icon
                                icon="material-symbols:content-paste-search-rounded"
                                width="200"
                                style="margin: auto"
                            ></iconify-icon>
                            <div class="card-body" style="height: 80px">
                                <h4 class="text-center">Data Requester</h4>
                            </div>
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-toggle="modal"
                                data-target="#RequesterModal"
                                style="margin-top: 10px"
                            >
                                Who are you?
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<!-- Modal -->
<div
    class="modal fade"
    id="ProviderModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">I AM DATA PROVIDER</h5>
            </div>
            <div class="modal-body">
                <form
                    action="/appChain/DataBroker/dataprovider"
                    method="post"
                >
                    <div class="input-group mt-3">
                        <div class="input-group-prepend">
                            <span id="" class="input-group-text">public key</span>
                        </div>
                        <input
                            id="pubkey"
                            type="text"
                            name="pubkey"
                            placeholder=""
                            required="required"
                            class="form-control"
                        />
                    </div>
                    <div class="input-group mt-3">
                        <div class="input-group-prepend">
                            <span id="" class="input-group-text">Gender</span>
                        </div>
                        <select class="form-select form-control" name="gender">
                            <option value="" disabled selected >Select gender</option>
                            <option value="man" >Man</optin>
                            <option value="woman" >Woman</optin>
                        </select>
                    </div>
                    <div class="input-group mt-3">
                        <div class="input-group-prepend">
                            <span id="" class="input-group-text">Age</span>
                        </div>
                        <input
                            type="text"
                            name="age"
                            placeholder=""
                            required="required"
                            class="form-control"
                            style="background-color: white"
                        />
                    </div>

                    <div class="input-group mt-3">
                        <div class="input-group-prepend">
                            <span id="" class="input-group-text">Height</span>
                        </div>
                        <input
                            type="text"
                            name="height"
                            placeholder=""
                            required="required"
                            class="form-control"
                        />
                    </div>
                    <div class="input-group mt-3">
                        <div class="input-group-prepend">
                            <span id="" class="input-group-text">Weight</span>
                        </div>
                        <input
                            type="text"
                            name="weight"
                            placeholder=""
                            required="required"
                            class="form-control"
                        />
                    </div>
                    <div class="modal-footer">
                        <input
                            type="submit"
                            value="Send"
                            class="btn btn-success"
                        />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div
    class="modal fade"
    id="RequesterModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">I AM DATA REQUESTER</h5>
            </div>
            <div class="modal-body">
                <form
                    action="/appChain/DataBroker/datarequester"
                    method="post"
                >
                    <div class="input-group mt-3">
                        <div class="input-group-prepend">
                            <span id="" class="input-group-text">public key</span>
                        </div>
                        <input
                            id="pubkey"
                            type="text"
                            name="pubkey"
                            placeholder=""
                            required="required"
                            class="form-control"
                        />
                    </div>

                    <div class="input-group mt-3">
                        <div class="input-group-prepend">
                            <span id="" class="input-group-text">Requester name</span>
                        </div>
                        <input
                            type="text"
                            name="rqname"
                            placeholder=""
                            required="required"
                            class="form-control"
                        />
                    </div>
                    <div class="modal-footer">
                        <input
                            type="submit"
                            value="Send"
                            class="btn btn-success"
                        />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') -%>
